{
	"trailingComma": "es5",
	"singleQuote": true,
	"jsxSingleQuote": true,
	"semi": false,
	"printWidth": 100,
	"useTabs": true,
	"tabWidth": 4,
	"endOfLine": "lf",
	"overrides": [
		{
			"files": "*.md",
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		}
	]
}